// Colors
$Light-green: #58D68D;
$Green: #2ECC71;
$Green-plus: #28B463;
$Dark-green: #239B56;

$Light-white: #F0F3F4;
$White: #fff;
$Grey: #D0D3D4;


$ff-roboto: 'Roboto Mono', monospace;

$transition: all 300ms ease-in-out;